.skillsContainer{
    /* background-color: #d1e9ff !important; */
    width: 100% !important;
    /* padding-top: 1%; */
    /* padding-left: 1%; */
    /* padding-right: 1%; */
    /* padding-bottom: 1%; */
    border: 1px solid #1f1f1f;
    border-radius: 10px;
    margin: 0.2%;
}

.skillsTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skillsTitleText{
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    text-align: justify;
    padding-bottom: 1%;
    color: #1f1f1f;
    padding-left: 2%;
    text-transform: capitalize !important;
}

.skillsChart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skillsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
}

.skillsBtn{
    /* background-color: #00c2ff; */
    text-transform: none !important;
    /* margin: 1%; */
}

.skillsBarchart{
    width: 87%;
    height: fit-content;
}