.App {
  text-align: center;
}

.mainContainer{
  display: flex;
  flex-direction: row;
}


/* Mobile styles */
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    width: 100%; /* Stack items vertically on mobile */
  }

  /* .App {
    padding: 10px; 
  } */
}